body {
    background-color: #97e7b6;
}

#player-text {
    font-family: sans-serif;
    color: black;
    font-size: 2.5rem;
    position: absolute;
    text-align: center;
    top: 7.5%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#gameboard {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 60vh;
    height: 60vh;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#gameboard > div {
    height: 100%;
    width: 100%;
}

#gameboard > div > button {
    border-radius: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    background: white;
}

#reset-game-button {
    background-color: #52a0ad;
    color: white;
    font-family: sans-serif;
    font-size: 1.3rem;
    position: absolute;
    bottom: 6.25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 2vh;
    border: 2px solid black;
}

#reset-game-button:hover {
    background-color: #407b85;
    color: #e9e9e9;
    cursor: pointer;
}